body {
  font-family: "Times New Roman", Arial;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  margin: 12pt 0 6pt 0;
  font-size: 14pt;
}

}

td {
  text-indent: 12pt;
}

a {
  text-decoration: none;
  color: #000000;
}

.text-align-right {
  text-align: right;
}
