<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
\n
<script src="https://giscus.app/client.js"
  data-repo="gabrielproencaalves/gabrielproencaalves-github-io-comments"
  data-repo-id="R_kgDONgb5xQ"
  data-category="Announcements"
  data-category-id="DIC_kwDONgb5xc4ClZ_p"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="0"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light"
  data-lang="pt"
  crossorigin="anonymous"
  async>
</script>
\n
</head>
